
/* ToDoList */

@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100;16..144,200;16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&display=swap');


body{
    background-color: #23272F;
    padding: 20px ;
    font-family: 'Montagu Slab', serif;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  color: white; 
  transition:  0.3s, transform 0.3s;  
}

.logo:hover {
  color: rgb(20, 158, 202);
}



h1 {
  letter-spacing: 3px;
}

.subhead {
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.542);
  /* color:  rgb(20, 158, 202) */

}



/* Box */

body {
    color: white;
    }
    
    .container {
        background-color: #343A46;
        max-width: 700px;
        display: block;
        margin: 0 auto;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 5px 5px 19px 1px rgba(255, 255, 255, 0.067);
    
    }

    /* AddTask */
    
    .add-task-btn {
        display: block;
        margin: 0 auto;
        padding: 20px 200px;
        border: 2px dashed rgba(255, 255, 255, 0.328);
        color: rgba(255, 255, 255, 0.328);
    }
    
    .add-task-btn:hover{
        background-color: #23272f24;
        border: 2px dashed white;
        color: white;
    
    }
